* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
} */

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

header,
footer {
  background-color: #1f2937;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header / Hero */

header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > h1 {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  list-style: none;
  gap: 18px;
}

a {
  text-decoration-line: none;
  font-size: 18px;
  color: #e5e7eb;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.container1 {
  flex: 1;
}

.container1 > button {
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  padding: 6px 26px;
  border-style: none;
}

.container1 > h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.container1 > p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0.5rem 0;
}
img {
  border: 2px solid pink;
}

/* Main / Cards */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  gap: 4rem;
}

.container-card {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13rem;
  gap: 0.5rem;
}

.cards > p {
  text-align: center;
}

.cards > img {
  border-radius: 1rem;
}
