* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

main,
.signup {
  background-color: #3882f6;
  height: 200px;
  width: 100%;
}

.quote {
  background-color: #e5e7eb;
  height: 200px;
  width: 100%;
}

body,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
}

header {
  display: flex;
  flex-direction: column;
  padding: 18px;
  gap: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 22px;
}

nav,
h1,
a,
p {
  color: white;
}

p {
  font-size: small;
}

ul {
  display: flex;
  list-style: none;
  gap: 18px;
}

a {
  text-decoration-line: none;
}

.intro {
  display: flex;
}

img {
  border: 1px solid white;
}
